# Virtual environments
.venv/
venv/
env/
day-070/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment / secrets
.env
.env.*

### Also any macOS specific files
.AppleDouble
.LSOverride
Icon
# and thumbnails
._*

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
